<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title> Total = {{ valorTotalAtual | currency: "R$" }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="floating">Corredor</ion-label>
        <ion-input type="number" value="{{ GetProximoCorredor() }}"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Produto</ion-label>
        <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input
            [(ngModel)]="this.itemAtual.Valor"
            (ionChange)="CalcValorTotal()"
            type="number"
            value="{{ this.itemAtual.Valor }}"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Quantidade</ion-label>
        <ion-input
            [(ngModel)]="this.itemAtual.Quantidade"
            (ionChange)="CalcValorTotal()"
            type="number"
            value="{{ this.itemAtual.Quantidade }}"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Total</ion-label>
        <ion-input
            value="{{ this.itemAtual.ValorTotal | currency: 'R$' }}"
            disabled
        ></ion-input>
    </ion-item>

    <ion-grid fixed>
        <ion-row>
            <ion-col align-self-start
                ><ion-button expand="full" (click)="onClick()">
                    Limpar
                </ion-button></ion-col
            >
            <ion-col align-self-end
                ><ion-button expand="full" (click)="onClick()">
                    Gravar
                </ion-button></ion-col
            >
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-button expand="full" (click)="onClick()">
                    Finalizar Compra
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-tabs-compra></app-tabs-compra>
</ion-content>
