<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="DadosCarregados()">
            {{ compraAtual.Nome }}
            ({{ compraAtual.ValorTotal | currency: "R$" }})</ion-title
        >
    </ion-toolbar>
</ion-header>
<ion-content padding *ngIf="DadosCarregados()">
    <ion-item>
        <ion-label position="floating">Corredor</ion-label>
        <ion-input
            [(ngModel)]="this.itemAtual.Corredor"
            type="number"
            value="{{ this.itemAtual.Corredor }}"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Produto</ion-label>
        <ion-input
            [(ngModel)]="this.itemAtual.Produto"
            type="text"
            value="{{ this.itemAtual.Produto }}"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input
            [(ngModel)]="this.itemAtual.Valor"
            (ionChange)="CalcValorTotalItem()"
            type="number"
            value="{{ this.itemAtual.Valor }}"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Quantidade</ion-label>
        <ion-input
            [(ngModel)]="this.itemAtual.Quantidade"
            (ionChange)="CalcValorTotalItem()"
            type="number"
            value="{{ this.itemAtual.Quantidade }}"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Total</ion-label>
        <ion-input
            value="{{ this.itemAtual.ValorTotal | currency: 'R$' }}"
            disabled
        ></ion-input>
    </ion-item>

    <ion-grid fixed>
        <ion-row>
            <ion-col align-self-start
                ><ion-button expand="full" (click)="LimparItem()">
                    Limpar
                </ion-button></ion-col
            >
            <ion-col align-self-end
                ><ion-button expand="full" (click)="GravarItem()">
                    Gravar
                </ion-button></ion-col
            >
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-button expand="full" (click)="GravarCompra()">
                    Finalizar Compra
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-toolbar>
    <app-tabs-compra [paiEhLista]="false"></app-tabs-compra>
</ion-toolbar>
